.content {
  margin: 32px 0;
  position: relative;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: #222;
  margin-bottom: 5px;
}

.body {
  color: #777;
  text-align: justify;
}

.title::first-letter,
.body::first-letter {
  text-transform: capitalize;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

.details {
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 14px;
  font-weight: 600;
  margin-top: 5px;
  animation: fade 0.5s ease-in-out;
}

.content:hover .details {
  opacity: 0.8;
  pointer-events: auto;
}

.content:hover {
  cursor: pointer;
}
