/* Card */

.card {
  width: 400px;
  height: 100%;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
}

.comments {
  color: #aaa;
  cursor: pointer;
}

.comments:hover {
  color: #555;
}

/* Profile */

.profile {
  width: fit-content;
  height: 70px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.avatar {
  width: 70px;
  height: 70px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.username {
  color: #555;
}
