.nav {
  background-color: #e1ddff;
  height: 80px;
  box-shadow: 0px 5px 13px -4px rgba(0, 0, 0, 0.1);
}

.navbar {
  height: 100%;
  display: flex;
  align-items: center;
}

.button {
  width: 20%;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-right: 15%;
}

@media only screen and (max-width: 800px) {
  .navbar {
    justify-content: space-between;
  }

  .button {
    width: fit-content;
  }

  .logo {
    width: fit-content;
    margin-right: 0;
  }
}
